*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}

:root {
    --main-color: #dc143c;
    --text-color: #363636;
    --white: #ffffff;
    --gray: #f3f4f5;
    --light-gray: #e1e1e1;
    --orange: #960018;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/Raleway-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/Raleway-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    width: 100%;
    font-family: 'ralewayregular', serif;
    color: var(--text-color);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.column{
    width: 40%;
    background-color: var(--gray);
    padding: 0 50px 0 70px;
}
.column_main{
    width: 60%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}

.main{
    display: flex;
}


























